body {
  font: menu;
  font-size: 100%;
  margin: 5rem auto;
  max-width: 720px;
  line-height: 1.7;
  background-color: whitesmoke;
}

.hovercard {
  border-bottom: 1px solid;
  color: #69e;
  cursor: help;
}
.hovercard-element {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2) !important;
  background-color: #fff !important;
}
[x-placement="top"] + .hovercard-arrow::before {
  border-top: 10px solid #fff !important;
}
.hovercard-arrow::before {
  border-bottom: 10px solid #fff !important;
}

pre {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem 1.25rem;
}

code {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 101%;
  color: #c33;
  padding: 0.05rem 0.25rem;
  margin: 0 0.15rem;
  vertical-align: middle;
  display: inline-block;
}

.hovercard-element .hovercard-description::after {
  background: linear-gradient(transparent, #fff) !important;
}

.logo {
  height: 3rem;
  float: left;
  margin-right: 1rem;
  vertical-align: middle;
}
